In [18]:
import pandas as pd

# Load the dataset
file_path = 'retail_sales_dataset.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

(   Transaction ID        Date Customer ID  Gender  Age Product Category  \
 0               1  2023-11-24     CUST001    Male   34           Beauty
 1               2  2023-02-27     CUST002  Female   26         Clothing
 2               3  2023-01-13     CUST003    Male   50      Electronics
 3               4  2023-05-21     CUST004    Male   37         Clothing
 4               5  2023-05-06     CUST005    Male   30           Beauty

    Quantity  Price per Unit  Total Amount
 0         3              50           150
 1         2             500          1000
 2         1              30            30
 3         1             500           500
 4         2              50           100  ,
 None)

In [27]:
# Convert 'Date' column to datetime format
data['Date'] = pd.to_datetime(data['Date'])

# Check if 'Total Amount' matches 'Quantity' * 'Price per Unit'
mismatch_total = data[data['Total Amount'] !=
                      data['Quantity'] * data['Price per Unit']]

# Check for missing or invalid values
missing_values = data.isnull().sum()

# Check for unique values in categorical columns to detect inconsistencies
unique_genders = data['Gender'].unique()
unique_categories = data['Product Category'].unique()

# Summary statistics to identify outliers
summary_stats = data.describe()

mismatch_total, missing_values, unique_genders, unique_categories, summary_stats

(Empty DataFrame
 Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount, Calculated Amount]
 Index: [],
 Transaction ID       0
 Date                 0
 Customer ID          0
 Gender               0
 Age                  0
 Product Category     0
 Quantity             0
 Price per Unit       0
 Total Amount         0
 Calculated Amount    0
 dtype: int64,
 array(['Male', 'Female'], dtype=object),
 array(['Beauty', 'Clothing', 'Electronics'], dtype=object),
        Transaction ID                           Date         Age     Quantity  \
 count     1000.000000                           1000  1000.00000  1000.000000
 mean       500.500000  2023-07-03 00:25:55.200000256    41.39200     2.514000
 min          1.000000            2023-01-01 00:00:00    18.00000     1.000000
 25%        250.750000            2023-04-08 00:00:00    29.00000     1.000000
 50%        500.500000            2023-06-29 12:00:00    42.00000     3.000000
 75%        750.250000            2023-10-04 00:00:00    53.00000     4.000000
 max       1000.000000            2024-01-01 00:00:00    64.00000     4.000000
 std        288.819436                            NaN    13.68143     1.132734

        Price per Unit  Total Amount  Calculated Amount
 count     1000.000000   1000.000000        1000.000000
 mean       179.890000    456.000000         456.000000
 min         25.000000     25.000000          25.000000
 25%         30.000000     60.000000          60.000000
 50%         50.000000    135.000000         135.000000
 75%        300.000000    900.000000         900.000000
 max        500.000000   2000.000000        2000.000000
 std        189.681356    559.997632         559.997632  )

In [33]:
# Making a age group
# Define the age bins and labels
bins = [0, 18, 25, 35, 45, 55, 65, 100]
labels = ['0-17', '18-25', '26-35', '36-45', '46-55', '56-65', '66+']

# Add a new column 'Age Group' based on the age bins
data['Age Group'] = pd.cut(data['Age'], bins=bins, labels=labels)

# Display the first few rows to check
print(data.head())

   Transaction ID       Date Customer ID  Gender  Age Product Category  \
0               1 2023-11-24     CUST001    Male   34           Beauty
1               2 2023-02-27     CUST002  Female   26         Clothing
2               3 2023-01-13     CUST003    Male   50      Electronics
3               4 2023-05-21     CUST004    Male   37         Clothing
4               5 2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount  Calculated Amount Age Group
0         3              50           150                150     26-35
1         2             500          1000               1000     26-35
2         1              30            30                 30     46-55
3         1             500           500                500     36-45
4         2              50           100                100     26-35

In [34]:
# Save the updated DataFrame with age groups to a new CSV file
data.to_csv('data_with_age_groups.csv', index=False)